{% load staticfiles %}
<html>
<head>
  <title>Login</title>
  <header>
    <link rel="stylesheet" href="{% static 'base/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'account/login.css' %}">
  </header>
</head>
<body>
  <div id ="email_div">
    <div class="row">
<form method="POST" action="{% url 'home' %}">{% csrf_token %}
 <!--  <div class="row">
        <div class="input-field col s12"> -->
 {{ form.as_p }}
<!-- </div>
</div> -->
<div><input id="submit" type="submit" value="Log In"></div>
</form>
</div>
</div>
</body>
</html>